{% extends "template.html" %}
{% block content %}
    <h2> sample </h2> 
        <p>bblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhlahblahbla pblahblahblah ppblahblah <p>

        <p>blahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblahhblahblahbla pblahblahblah ppblahblah</p>

{% endblock %}


